h1{
    color: #2fe2ca;
    font-size: 40px;
}

ul {
    list-style-type: none;
    margin: 5;
    padding: 0;
    overflow: hidden;
  background-color: #d3ffff;
  }

  li {
    display: inline;
    float: left;
  }

  li a {
    display: block;
    color: rgb(2, 204, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
li a:hover {
    background-color: rgb(134, 152, 252);
  }